<section id="address">
  <div class="container p-5">
    <h3 class="display-4 display-md-3">Update Address</h3>
    <hr>
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <app-message></app-message>
        <div class="bg-info p-3">
          <h3 class="text-center text-light">Update</h3>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" name="add1" [(ngModel)]="add1" placeholder="Address 1">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="add2" [(ngModel)]="add2" placeholder="Address 2">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="City">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="state" [(ngModel)]="state" placeholder="State">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="country" [(ngModel)]="country" placeholder="Country">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="postalCode" [(ngModel)]="postalCode" placeholder="Postal Code">
            </div>
            <button class="btn btn-danger btn-block" (click)="updateAddress()">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>